<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/cosplays/my-cosplays"></ion-back-button>
    </ion-buttons>
    <ion-title>New Cosplay Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Cosplay Group Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Series</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-button>Save</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
