<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/cosplays/cosplay-groups"></ion-back-button>
    </ion-buttons>
    <ion-title>New Cosplay Group</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSaveCosGroup()" >
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Series</ion-label>
          <ion-input type="text" formControlName="series" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea rows="3" formControlName="description"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Place</ion-label>
          <ion-input type="text" autocomplete autocorrect formControlName="place"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Starts</ion-label>
          <ion-datetime
          display-format="MMM DD YYYY"
          picker-format="YY MMM DD"
          [min]=""
          [max]=""
          formControlName="dateFrom"
          required
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-sm="3" >
        <ion-item>
          <ion-label position="floating">Ends</ion-label>
          <ion-datetime 
          display-format="MMM DD YYYY"
          picker-format="YY MMM DD"
          [min]=""
          [max]=""
          formControlName="dateTo"
          required
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <app-location-picker
        [showPreview]="form.get('location').value"
        (locationPick)="onLocationPicked($event)"></app-location-picker>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <app-image-picker
        [showPreview]="form.get('image').value"
        (imagePick)="onImagePicked($event)"></app-image-picker>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

</ion-content>
