<ion-item id="open-modal-{{id}}">
  <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon> 
  <ion-label color="primary">{{ nombreCampo }}</ion-label>
  <ion-text slot="end">{{ formattedString }}</ion-text>
</ion-item>

<ion-modal class="datepicker_modal" trigger="open-modal-{{id}}" >
  <ng-template>
    <ion-content>
      <ion-datetime  
      #datetime
      [value]="dateValue" size="cover"
      (ionCancel)="showPicker = false"
      (ionChange)="dateChanged(datetime.value)"
      >
      <ion-buttons slot="buttons">
        <ion-button (click)="close()">Cancelar</ion-button>
        <ion-button (click)="select()" color="primary">Listo</ion-button>
      </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- 
<div class="error-container">
  <div *ngFor="let validation of validations.dateFrom">
    <div class="error-message" *ngIf="form.get('dateFrom').hasError(validation.type) && (form.get('dateFrom').dirty || form.get('dateFrom').touched)">
      <ion-icon name="information-circle-outline"></ion-icon>
      <span>{{ validation.message }}</span>
    </div>
  </div>
</div> -->