<app-header titulo="Cosplay Groups" [routeArray]="['/', 'main', 'tabs' , 'cosplay-groups', 'new' ]">
</app-header>

<ion-content>
  <!--
  <ion-segment (ionChange)="onFilterUpdate($event.detail.value)">
    <ion-segment-button value="all" checked>All Groups</ion-segment-button>
    <ion-segment-button value="requested">My Requested </ion-segment-button>
  </ion-segment>
  -->
  <ion-grid>
    <ion-row>
      <ion-col
      size="12" 
      size-md="10" offset-md="1" 
      size-lg="6" offset-lg="3"
      size-xl="6" offset-xl="3"
      class="ion-text-center" 
        *ngIf="cosGroups$ | async as data"
      >
        <div *ngIf="!isLoading && data.length == 0">
          <p text-center>No cosplay Groups found! Please create one first</p>
          <ion-button routerLink="/main/tabs/cosplay-groups/new">New Cosplay Group</ion-button>
        </div>
      </ion-col>

      <ion-col 
      size="12" 
      size-md="10" offset-md="1" 
      size-lg="6" offset-lg="3"
      size-xl="6" offset-xl="3"
      class="ion-text-center" 
      >
      <div *ngIf="isLoading">
        <ion-list *ngFor="let number of [0,1,2,3,4,5,6,7]" lines="none" class="ion-no-padding">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="!isLoading">
        <ion-list *ngFor="let cosplaygroupitem of cosGroups$ | async" lines="none" class="ion-no-padding">
          <app-cosplay-group-item [cosplaygroup]="cosplaygroupitem"></app-cosplay-group-item>
        </ion-list>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>