<app-header titulo="Planning" [routeArray]="['/', 'main', 'tabs' , 'planning', 'new-planning' ]">
</app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col
      size-md="6"
      offset-md="3"
      text-center
      *ngIf="!isLoading ">
        <p text-center>No plannings found! Please create one first</p>
        <ion-button routerLink="/main/tabs/planning/new-planning">New Planning</ion-button>
      </ion-col>

      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center" 
      *ngIf="!isLoading ">
        <ion-list *ngFor="let planningitem of plannings$ | async" >
          <app-planning-item [planning]="planningitem"></app-planning-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
