<app-header titulo="Planning" [routeArray]="['/', 'main', 'tabs' , 'planning', 'new-planning' ]">
</app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col
      size="12" size-md="8" 
      offset-md="2" size-lg="6" offset-lg="3"
      size-xl="4" offset-xl="4"
      text-center
      *ngIf=" plannings$ | async as data">
      <div *ngIf="!isLoading && data.length == 0">
        <p text-center >No plannings found! Please create one first</p>
        <ion-button routerLink="/main/tabs/planning/new-planning">New Planning</ion-button>
      </div>
      </ion-col>

      <ion-col 
      size="12" 
      size-md="10" offset-md="1" 
      size-lg="6" offset-lg="3"
      size-xl="6" offset-xl="3"
      class="ion-text-center" 
      *ngIf="!isLoading">
        <ion-list *ngFor="let planningitem of plannings$ | async" lines="none">
          <app-planning-item [planning]="planningitem"></app-planning-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
