ion-content {
    --padding-top: 16px;
  
    .content-col {
      --ion-grid-column-padding: 0px;
    }
  
    .user-image {
      --size: 100px;
      margin: auto;
    }
  
    .user-name {
      text-align: center;
    }
  }
  
  
  ion-icon {
    // default: not-fav
    &[name="heart"] {
      fill: grey;
    }
  
    &[name="heart"].fav {
      fill: red;
    }
  }

  .item[no-lines].bottom-border { 
    border-bottom: none; 
  }

  .item-background-color{
    --ion-item-background:#18181860;
}


