<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-title text-center>{{ isLoading ? 'Loading...' : cosplay.characterName}}</ion-title>
      <ion-button >
        <ion-icon #favIcon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="primary"  
        [routerLink]="['/', 'main', 'tabs' , 'cosplays', 'my-cosplays' , 'edit' , cosplayId ]"
      >
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div text-center *ngIf="isLoading">        
    <ion-spinner color="primary" ></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col class="content-col" >
      <ion-thumbnail class="user-image">
        <img src="{{ cosplay.imageUrl }}">
      </ion-thumbnail>

      <ion-list class="ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Series</ion-label>
          <ion-input color="primary" readonly="true">{{cosplay.series}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input color="primary" readonly="true">{{cosplay.description}}</ion-input>
        </ion-item>
      </ion-list>

     
      
    </ion-col>
  </ion-row>

  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="elements">
        <ion-icon name="shirt-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tasks">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <div *ngSwitchCase="'elements'">

      <ion-title class="ion-text-center">
        <h3>Elementos del Cosplay</h3>
      </ion-title>

      <ion-list class="ion-no-padding" lines="full">
        <ion-item no-lines class="bottom-border item-background-color" >
          <ion-label>Ejemplo</ion-label>
        </ion-item>
      </ion-list>
      
    </div>
    <div *ngSwitchCase="'tasks'">

      <ion-title class="ion-text-center">
        <h3>Tasks</h3>
      </ion-title>

      
        <ion-list class="ion-no-padding" lines="full">

          
          
          <ion-item no-lines class="bottom-border item-background-color" *ngFor="let task of tasks">
            <ion-grid  class="ion-no-padding">

              <div *ngIf="task.type == 'buy'">To Buy List</div>

              <ion-row>
                <ion-col>
                  {{ task.name }}
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col col-1>
                <small>
                  <ion-icon name="image-outline" *ngIf="task.image"></ion-icon>
                </small>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-item>

        </ion-list>
      
      </div>

  </div>

</ion-grid>
</ion-content>