ion-content {
    --padding-top: 16px;
  
    .content-col {
      --ion-grid-column-padding: 0px;
    }
  
    .user-image {
      --size: 100px;
      margin: auto;
    }
  
    .user-name {
      text-align: center;
    }
  }
  
  
  ion-icon {
    // default: not-fav
    &[name="heart"] {
      fill: grey;
    }
  
    &[name="heart"].fav {
      fill: red;
    }
  }

  .item[no-lines].bottom-border { 
    border-bottom: none; 
  }

  .item-background-color{
    --ion-item-background:#18181860;
}

ion-item {
    --min-height: 20px;
}

// eliminar padding final
ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

ion-item.list-item {
  --min-height: 40px;
}

.list-header-row {
  height: 20px;
  background-color: rgb(86, 92, 92);
}

.list-header-col {
  padding: 2px 2px 2px 10px;
}

.list-header-col.main{
  width: 80%;
  text-align: left;
}

.list-header-col.sec {
  width: 20%;
  text-align: center;
}

.elements-list-name {
  padding: 5px 0px 0px 10px;
}

.elements-list-icons {
  padding: 5px 0px 0px 10px;
}

.elements-list.sec {
  text-align: center;
  vertical-align: middle;
}