<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-title text-center>{{ isLoading ? 'Loading...' : cosplay.characterName}}</ion-title>
      <ion-button >
        <ion-icon #favIcon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="primary"  
        [routerLink]="['/', 'main', 'tabs' , 'cosplays', 'my-cosplays' , 'edit' , cosplayId ]"
      >
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div text-center *ngIf="isLoading">        
    <ion-spinner color="primary" ></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col class="content-col" >
      <ion-thumbnail class="user-image">
        <img src="{{ cosplay.imageUrl }}">
      </ion-thumbnail>

      <ion-list class="ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Series</ion-label>
          <ion-input color="primary" readonly="true">{{cosplay.series}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input color="primary" readonly="true">{{cosplay.description}}</ion-input>
        </ion-item>
      </ion-list>

     
      
    </ion-col>
  </ion-row>

  <div padding>
    <ion-segment [(ngModel)]="default">
      <ion-segment-button value="elements">
        <ion-icon name="shirt-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tasks">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="default">
    <div *ngSwitchCase="'elements'">

      <ion-title class="ion-text-center">
        <h3>Elementos del Cosplay</h3>
      </ion-title>

      <ion-list class="ion-no-padding" lines="full">

        <ion-item no-lines class="ion-no-padding bottom-border item-background-color header-item">

          <ion-grid class="ion-no-padding ion-no-border">
            <ion-row class="list-header-row">
              <ion-col class="list-header-col">
                <div class="main">To Buy</div>
              </ion-col>
              <ion-col class="list-header-col">
                <div class="sec">Store</div>
              </ion-col >
              <ion-col class=" col list-header-col ">
                <div class="sec">Status</div>
              </ion-col >
            </ion-row>

          </ion-grid>

        </ion-item>

        <ion-item no-lines class="ion-no-padding bottom-border item-background-color list-item" detail
        routerDirection="forward"
        [routerLink]=""
        *ngFor="let el of cosElements">
          
          <ion-grid class="ion-no-padding">

            <ion-row class="elements-list">
              <ion-col>
              <div class="elements-list-data">
                <div class="elements-list-name">{{ el.name }}</div>
                <div class="elements-list-icons">
                  <small>
                  <ion-icon name="image-outline" *ngIf="el.image"></ion-icon>
                </small>
                </div>
              </div>
              </ion-col>
              <ion-col class="elements-list-data sec">
                <div class="">{{ el.store }}</div>
              </ion-col>
              <ion-col class="elements-list-data sec">
                <div class="">-</div>
              </ion-col>
            </ion-row>

          </ion-grid>

        </ion-item>
      </ion-list>
      
    </div>
    <div *ngSwitchCase="'tasks'">

      <ion-title class="ion-text-center">
        <h3>Tareas</h3>
      </ion-title>

        <ion-list class="ion-no-padding" lines="full">

          <ion-item no-lines class="ion-no-padding bottom-border item-background-color header-item">
            <ion-grid class="ion-no-padding">

              <ion-row class="list-header-row">
                <ion-col class="list-header-col">
                  <div class="main">To Buy</div>
                </ion-col>
                <ion-col class="list-header-col">
                  <div class="sec">Status</div>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-item>

          <ion-item no-lines class="ion-no-padding bottom-border item-background-color list-item" *ngFor="let task of tasks" detail>
            
            <ion-grid class="ion-no-padding">

              <ion-row class="elements-list">
                <ion-col>
                  <div class="elements-list-data">
                    <div class="">{{ task.name }}</div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="elements-list-data sec">
                    -
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-item>

        </ion-list>
      
      </div>
  </div>

</ion-grid>
</ion-content>