<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      [defaultHref]="'main/tabs/planning'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Planning</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdatePlanning()" [disabled]="!form?.valid || !form.get('imageUrl').value">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="0">
          <ion-item>
            <ion-label position="floating">Starts</ion-label>
            <ion-datetime
            display-format="MMM DD YYYY"
            picker-format="YY MMM DD"
            [min]=""
            [max]=""
            formControlName="startsAt"
            required
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="6" >
          <ion-item>
            <ion-label position="floating">Ends</ion-label>
            <ion-datetime 
            display-format="MMM DD YYYY"
            picker-format="YY MMM DD"
            [min]=""
            [max]=""
            formControlName="endsAt"
            required
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-location-picker
          [selectedLocationImage]="actualMapImage"
          [showPreview]="form.get('location').value"
          (locationPick)="onLocationPicked($event)">
        </app-location-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker
          [selectedImage]="actualImage"
          [showPreview]="form.get('imageUrl').value"
          (imagePick)="onImagePicked($event)">
        </app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
