<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" #map></div>
  <div id="map_options" *ngIf="selectable === true">
    <div *ngIf="!clickTriggersNewPlace">
      <ion-button (click)="addClickListenertoMap()">
        Añadir nuevo lugar
      </ion-button>
      <ion-button (click)="defineRoute()">
        Definir ruta
      </ion-button>
    </div>
      <ion-label *ngIf="clickTriggersNewPlace" class="options_label">Select a Place by clicking on the map</ion-label>
  </div>
</ion-content>