<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/tabs/cosplays/my-cosplays"></ion-back-button>
      
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" 
      [routerLink]="['/', 'profile', 'edit-profile' ]">
        Edit
      </ion-button>
      <ion-button color="primary" 
      (click)="Share()">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-row >
    <ion-col  text-center size-sm="12" size-md="12" size-lg="8" offset-lg="2" size-xl="8" offset-xl="2">
      <div class="avatar">
        <ion-avatar class="user-image">
          <img [defaultImage]="defaultImg" [lazyLoad]="imageUrl" [errorImage]="defaultImg">
        
        </ion-avatar>
        <ion-text color="dark">
          <h2 class="user-name">{{ userData?.displayName ? userData?.displayName : "-" }}</h2>
        </ion-text>
      </div>
      <ion-list>
        <ion-item target="_blank" href={{instagram_url}}>
          <ion-label color="primary" position="stacked">Instagram</ion-label>
          <ion-input readonly="true">
            <a target="_blank" slot="start" >{{instagram_name}}</a>
          </ion-input>
          <ion-icon slot="end" name="link-outline"></ion-icon>
        </ion-item>
        <ion-item target="_blank" href={{twitter_url}}>
          <ion-label color="primary" position="stacked">Twitter</ion-label>
          <ion-input readonly="true">
            <a  >{{twitter_name}}</a>
          </ion-input>
          <ion-icon slot="end" name="link-outline"></ion-icon>
        </ion-item>
      </ion-list>

     <ion-item class="list-header">Actividad Reciente</ion-item>
      <ion-list *ngIf="false">
        <ion-item class="item">
        </ion-item>
      </ion-list>
      <div *ngIf="true">
        <ion-text>No hay publicaciones.</ion-text>
      </div>

      <!--
      
      <ion-row class="gallery">
        <ion-col>
          
            <ion-img src="./../../assets/images/stock7.jpg"></ion-img>
          
        </ion-col>
        <ion-col>
          
            <ion-img src="./../../assets/images/stock8.jpg"></ion-img>
          
        </ion-col>
        <ion-col>
          
            <ion-img src="./../../assets/images/stock9.jpg"></ion-img>
          
        </ion-col>
      </ion-row> -->

    </ion-col>
  </ion-row>


</ion-content>