ion-content {
    --padding-top: 16px;
  
    .content-col {
      --ion-grid-column-padding: 0px;
    }
  
    .user-image {
      --size: 250px;
      margin: auto;
    }
  
    .user-name {
      text-align: center;
    }
  }
  
  
  ion-icon {
    // default: not-fav
    &[name="heart"] {
      fill: grey;
    }
  
    &[name="heart"].fav {
      fill: red;
    }
  }

  .item[no-lines].bottom-border { 
    border-bottom: none; 
  }

  .item-background-color{
    --ion-item-background:#18181860;
}


// eliminar padding final
ion-item {
  --min-height: 20px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}



ion-item.list-item {
  --min-height: 40px;
}

.list-header-row {
  height: 26px;
  padding-right:20px; // corregir espacio icono detail
  background-color: rgb(86, 92, 92);
}

.list-header-col :first-child{
  padding: 3px 2px 3px 10px;
}

.list-header-col > .main {
  text-align: left;
}

.list-header-col > .sec {
  text-align: center;
}


.elements-list-data {
  pointer-events: none;
  padding: 5px 0px 0px 10px;
}

.elements-list ion-col div {
  text-align: center;
}

.elements-list:first-child ion-col div div{
  text-align: left;
}

.thumbnail_icon {
  width: auto;
  height: 140px;

  ion-icon {
      color: rgba(184, 179, 179, 0.679);
      width: 130px;
      height: 130px;
      display: block;
      margin: auto;
    }
}

