h1 {
    font-size: 18px;
}

.planning_item {

    .thumbnail_icon {
        width: 40px;
        height: 40px;
    
        ion-icon {
            color: rgb(136, 133, 133);
          }
    }

    .header{
        min-width:120px;
        border: 1px solid rgb(48, 82, 141);;
        padding: 0 8px 0 8px;
        margin: 4px;
        border-radius: 5px;
        color: lightgrey;

        ion-item {
            --padding-end: 0px;
            --inner-padding-end: 0px;
            // here other custom CSS from documentation  
        }

        .title h1, .location_info p{
            max-width:210px!important;
        }

        
    }

    ion-button {
        margin-inline-start:4px;
    }

}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.planning-details {
    
    display: flex;
    align-items: center;

    .location_info {
        flex-flow: row;
    }

    ion-icon {
        flex-shrink: 0;
    }

    .truncate {
        width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .place{
        color: rgba(201, 201, 201, 0.904);
        
    }

    .dates {
        width:170px;
        margin-left: auto; 
        margin-right: 0;
        text-align: right;
    }

    .space-left{
        margin-left: 5px;
    }
    
    .space-right{
        margin-right: 20px;
    }

    ion-text {
        color: rgba(224, 91, 13, 0.904);
        
    }
}