<ion-item (click)="onGoToSee(planning)"
detail>
    <ion-thumbnail slot="start" *ngIf="planning.imageUrl != null">
      <ion-img [src]="planning.imageUrl"></ion-img>
    </ion-thumbnail>
    <ion-icon *ngIf="planning.imageUrl == null" slot="start" name="image"></ion-icon>

    <ion-label>
      <h1>{{ planning.title }}</h1>
      <div class="planning-details">
        <div class="location_info">
          <ion-icon name="location" color="secondary"></ion-icon>
          <span class="place space-left space-right truncate">{{ planning.location.address.state}}</span>
        </div>
        <div class="dates">
          <ion-icon name="calendar" color="secondary"></ion-icon>
          <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'MMM d' ) : ( planning.startsAt | date: 'MMM d' ) }}</ion-text>
          <span class="space-left">to</span>
          <ion-text  class="space-left">{{ isMobile == true ? ( planning.endsAt | date: 'd' ) : ( planning.endsAt | date: 'd' ) }}</ion-text>
          <span class="space-left">|</span>
          <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'y' ) : ( planning.startsAt | date: 'y' ) }}</ion-text>
        </div>
      </div>
    </ion-label>
</ion-item>