<ion-item (click)="onGoToSee(planning)"
detail>
    <ion-thumbnail slot="start">
      <ion-img [src]="planning.imageUrl"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h1>{{ planning.title }}</h1>
      <div class="planning-details">
        <ion-icon name="location" color="secondary"></ion-icon>
        <span class="place space-left space-right truncate">{{ planning.location.address.state}}</span>
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'MMM d' ) : ( planning.startsAt | date ) }}</ion-text>
        <span class="space-left">to</span>
        <ion-icon name="calendar" class="space-left" color="secondary"></ion-icon>
        <ion-text  class="space-left">{{ isMobile == true ? ( planning.endsAt | date: 'MMM d' ) : ( planning.endsAt | date ) }}</ion-text>
      </div>
    </ion-label>
</ion-item>