h1 {
    font-size: 18px;
    border: 1px solid var(--ion-color-primary);
    padding: 8px;
    border-radius: 5px;
    color: lightgrey;
}

.planning-details {
    
    display: flex;
    align-items: center;

    ion-icon {
        flex-shrink: 0;
    }

    .truncate {
        width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    .place{
        color: rgba(201, 201, 201, 0.904);
        
    }

    .space-left{
        margin-left: 5px;
    }
    
    .space-right{
        margin-right: 20px;
    }

    ion-text {
        color: rgba(224, 91, 13, 0.904);
        
    }
}