<ion-item 
button
(click)="onGoToSee(planning)"
  detail
  class="planning_item"
>
    <ion-thumbnail *ngIf="planning.imageUrl != null" slot="start" >
      <ion-img [src]="planning.imageUrl"></ion-img>
    </ion-thumbnail>
    <div class="thumbnail_icon" *ngIf="planning.imageUrl == null">
      <ion-icon slot="start" name="image" size="large"></ion-icon>
    </div>

    <ion-label>
      <div class="header">
        <ion-item class="inner_item_info ion-no-padding" lines="none">
          <div class="title truncate">
            <h1 slot="start">{{ planning.title }}</h1>
            <div class="location_info">
            <p>
              <ion-icon name="location" color="secondary"></ion-icon>
              <span class="place space-left space-right truncate">{{ planning.location.address.state}}</span>
            </p>
            </div>
          </div>
          <ion-button class="delete_button" slot="end" type="buton" size="small" color="danger" (click)="onDeletePlanning(planning.id);$event.stopPropagation();">
            <ion-icon name="close" ></ion-icon>
          </ion-button>
        </ion-item>
      </div>

      <div class="planning-details">
        <div class="dates">
          <ion-icon name="calendar" color="secondary"></ion-icon>
          <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'MMM d' ) : ( planning.startsAt | date: 'MMM d' ) }}</ion-text>
          <span class="space-left">to</span>
          <ion-text  class="space-left">{{ isMobile == true ? ( planning.endsAt | date: 'd' ) : ( planning.endsAt | date: 'd' ) }}</ion-text>
          <span class="space-left">|</span>
          <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'y' ) : ( planning.startsAt | date: 'y' ) }}</ion-text>
        </div>
      </div>
    </ion-label>
</ion-item>