<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/cosplay-groups"></ion-back-button>
    </ion-buttons>
    <ion-title>New Cosplay Group</ion-title>
    <ion-buttons slot="primary">
      <ion-button 
      [disabled]="!form.valid || !isFormReady" 
      (click)="onSaveCosGroup()" >
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form">
  <ion-grid>
  <ion-row>
  <ion-col size-sm="12" size-md="12" size-lg="8" offset-lg="2" size-xl="8" offset-xl="2">

    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <div class="error-container">
          <div *ngFor="let validation of validations.title">
            <div class="error-message" *ngIf="form.get('title').hasError(validation.type) && (form.get('title').dirty || form.get('title').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Series</ion-label>
          <ion-input type="text" formControlName="series" ></ion-input>
        </ion-item>
        <div class="error-container">
          <div *ngFor="let validation of validations.series">
            <div class="error-message" *ngIf="form.get('series').hasError(validation.type) && (form.get('series').dirty || form.get('series').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea rows="3" formControlName="description"></ion-textarea>
        </ion-item>
        <div class="error-container">
          <div *ngFor="let validation of validations.description">
            <div class="error-message" *ngIf="form.get('description').hasError(validation.type) && (form.get('description').dirty || form.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Place</ion-label>
          <ion-input type="text" autocomplete autocorrect formControlName="place"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" >
        <ion-item>
          <ion-label position="floating">Starts</ion-label>
          <ion-datetime
          #startdate
          monthShortNames="En, Feb, Mar, Abr, Mayo, Jun, Jul, Ago, Sept, Oct, Nov, Dic"
          display-format="DD MMM YYYY HH:mm"
          picker-format="DD MMM YYYY HH:mm"
          [(ngModel)]="startDate"
          [min]=""
          [max]=""
          [value]=""
          (ionChange)="changedFromDate($event)"
          formControlName="dateFrom">
          </ion-datetime>
        </ion-item>
        <div class="error-container">
          <div *ngFor="let validation of validations.dateFrom">
            <div class="error-message" *ngIf="form.get('dateFrom').hasError(validation.type) && (form.get('dateFrom').dirty || form.get('dateFrom').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size-sm="6" >
        <ion-item>
          <ion-label position="floating">Ends</ion-label>
          <ion-datetime 
          #enddate
          monthShortNames="En, Feb, Mar, Abr, Mayo, Jun, Jul, Ago, Sept, Oct, Nov, Dic"
          display-format="DD MMM YYYY HH:mm"
          picker-format="DD MMM YYYY HH:mm"
          [(ngModel)]="endDate"
          [min]="minDate"
          [max]=""
          formControlName="dateTo">
          </ion-datetime>
        </ion-item>
        <div class="ion-text-end">
          <ion-button 
          class="clearDates"
          text-capitalize="false"
          color="medium"
          size="small" 
          (click)="clearDates()">Clear dates</ion-button>
        </div>
        <div class="error-container">
          <div *ngFor="let validation of validations.dateTo">
            <div class="error-message" *ngIf="form.get('dateTo').hasError(validation.type) && (form.get('dateTo').dirty || form.get('dateTo').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size-sm="12" >
        <app-geolocation-picker
        [showPreview]="form.get('location').value"
        (locationPick)="onLocationPicked($event)">
        </app-geolocation-picker>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12" offset-sm="">
        <app-image-picker
        [showPreview]="form.get('imageUrl').value"
        [aspectRatio]="1 / 1"
        (imagePick)="onImagePicked($event)">
      </app-image-picker>
      </ion-col>
    </ion-row>

  </ion-col>
  </ion-row>
  </ion-grid>
</form>

</ion-content>
