.purple-theme {

   
    --ion-background-color: #6149c4;
	--ion-background-color-rgb: 97,73,196;

	--ion-text-color: #bbb9b9;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #5c45ba;
	--ion-color-step-100: #5742b0;
	--ion-color-step-150: #523ea7;
	--ion-color-step-200: #4e3a9d;
	--ion-color-step-250: #493793;
	--ion-color-step-300: #443389;
	--ion-color-step-350: #3f2f7f;
	--ion-color-step-400: #3a2c76;
	--ion-color-step-450: #35286c;
	--ion-color-step-500: #312562;
	--ion-color-step-550: #2c2158;
	--ion-color-step-600: #271d4e;
	--ion-color-step-650: #221a45;
	--ion-color-step-700: #1d163b;
	--ion-color-step-750: #181231;
	--ion-color-step-800: #130f27;
	--ion-color-step-850: #0f0b1d;
	--ion-color-step-900: #0a0714;
	--ion-color-step-950: #05040a;
	
	ion-segment-button {
		--background-checked: #745adc;
		--color-checked: #29282f;
	}
	--ion-item-background: #4f3d9f;

    ion-icon {
        color: #bfb9b9;
    }
}