.light-theme {
    ion-content {
      --ion-background-color: #fff;
      color: rgb(0, 0, 0);
    }
   
    .toolbar-title {
      color: rgb(38, 23, 23);
    }
   
    .header .toolbar-background {
      border-color: #463855;
      background-color: #bebfc4;
    }
  }