.purple-theme {

   
    --ion-background-color: #5211a2;
	--ion-background-color-rgb: 82,17,162;

	--ion-text-color: #dedddd;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #4e109a;
	--ion-color-step-100: #4a0f92;
	--ion-color-step-150: #460e8a;
	--ion-color-step-200: #420e82;
	--ion-color-step-250: #3e0d7a;
	--ion-color-step-300: #390c71;
	--ion-color-step-350: #350b69;
	--ion-color-step-400: #310a61;
	--ion-color-step-450: #2d0959;
	--ion-color-step-500: #290951;
	--ion-color-step-550: #250849;
	--ion-color-step-600: #210741;
	--ion-color-step-650: #1d0639;
	--ion-color-step-700: #190531;
	--ion-color-step-750: #150429;
	--ion-color-step-800: #100320;
	--ion-color-step-850: #0c0318;
	--ion-color-step-900: #080210;
	--ion-color-step-950: #040108;

    ion-icon {
        color: #bfb9b9;
    }
}