.cos_element .radio ion-label, ion-input {
    min-height: 40px;
}

ion-radio .radio-icon {
    width: 20px!important;
    height: 20px!important;
}

ion-label.grey {
    color:rgb(168, 167, 167);
}



ion-modal{

    

    .auto-height {
        --height: auto;

        &.bottom {
            align-items: flex-end;
        }

        .ion-page {
            position: relative;
            display: block;
            contain: content;

            .inner-content {
                height: 40px;
                max-height: 40vh;
                overflow: auto;
                padding: 10px;
            }
        }
    }
}