<ion-header>
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">{{ closeButtonText }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="cos_element" >

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input placeholder="{{title}}" autofocus="true" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item class="ion-no-margin">
          <ion-label position="floating">Store</ion-label>
          <ion-input placeholder="Amazon" autofocus="true" type="text" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-item class="ion-no-margin">
          <ion-label position="floating">Cost</ion-label>
          <ion-input placeholder="0,00€" autofocus="true" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
      <ion-item>
        <ion-label position="floating">Comment</ion-label>
        <ion-textarea placeholder="Notes.." clearOnEdit="true"></ion-textarea>
      </ion-item>
    

  </form>

    <div class="action-buttons">
      <ion-button>
        Delete
      </ion-button>
      <ion-button>
        Edit
      </ion-button>
      <ion-button type="submit">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </div>
  
  
</ion-content>
