<ion-item (click)="onGoToSee(cosplaygroup)"
detail>
    <ion-thumbnail slot="start">
      <ion-img [src]="imgSrc"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h1>{{ cosplaygroup.title }}</h1>
      <div class="cosplaygroup-details">
        <ion-icon name="location" color="secondary"></ion-icon>
        <span class="place space-left space-right truncate">{{ cosplaygroup.place }}</span>
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <ion-text  class="space-left">{{ isMobile == true ? (  cosplaygroup.dateFrom | date: 'MMM d' ) : (  cosplaygroup.dateFrom | date ) }}</ion-text>
        <span class="space-left">to</span>
        <ion-icon name="calendar" class="space-left" color="secondary"></ion-icon>
        <ion-text  class="space-left">{{ isMobile == true ? ( cosplaygroup.dateTo | date: 'MMM d' ) : ( cosplaygroup.dateTo | date ) }}</ion-text>
      </div>
    </ion-label>
</ion-item>