<ion-item (click)="onGoToSee(cosplaygroup)"
detail
class="cosgroup_item">

  <ion-thumbnail slot="start" *ngIf="cosplaygroup.imageUrl != null">
    <ion-img [src]="imgSrc"></ion-img>
  </ion-thumbnail>
  <div class="thumbnail_icon" *ngIf="cosplaygroup.imageUrl == null">
    <ion-icon slot="start" name="image" size="large" ></ion-icon>
  </div>
  
  <ion-label>
    <div class="header">
      <ion-item class="ion-no-padding" lines="none">
        <h1 slot="start">{{ cosplaygroup.title }}</h1>
        <ion-button slot="end" size="small" color="danger" (click)="onDeleteCosGroup(cosplaygroup.id);$event.stopPropagation();">
          <ion-icon  name="close" ></ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <div class="cosplaygroup-details">
      <ion-icon name="location" color="secondary"></ion-icon>
      <span class="place space-left space-right truncate">{{ cosplaygroup.place }}</span>
      <div class="dates">
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <ion-text  class="space-left">{{ isMobile == true ? (  cosplaygroup.dateFrom | date: 'MMM d' ) : (  cosplaygroup.dateFrom | date: 'MMM d' ) }}</ion-text> 
        <span class="space-left">to</span>
        <ion-text  class="space-left">{{ isMobile == true ? ( cosplaygroup.dateTo | date: 'd' ) : ( cosplaygroup.dateTo | date: 'd' ) }}</ion-text>
        <span class="space-left">|</span>
        <ion-text  class="space-left">{{ isMobile == true ? ( cosplaygroup.dateFrom | date: 'y' ) : ( cosplaygroup.dateFrom | date: 'y' ) }}</ion-text>
      </div>
    </div>
  </ion-label>
  
</ion-item>