<ion-header>
  <ion-toolbar>
    <ion-title >Planning Leaflet Test</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/planning"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary"  
        [routerLink]="['/', 'main' , 'tabs' ,'planning' , 'edit' , planningId ]">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div text-center >        
    
  </div>
  <ion-grid >
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" padding text-center>
        <p>Address test</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-button (click)="onShowFullMap()" class="location-image" >Show map</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>