<ion-header>
  <ion-toolbar>
    <ion-title >{{ isLoading ? 'Loading...' : planning.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/planning"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary"  
        [routerLink]="['/', 'main' , 'tabs' , 'planning' , 'edit' , planningId ]">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div text-center *ngIf="isLoading">        
    <ion-spinner color="primary" ></ion-spinner>
  </div>
  
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" padding text-center>
      <div class="planning-details">
        <div class="dates">
          <p>
            <ion-icon name="calendar" color="secondary"></ion-icon>
            <ion-text  class="space-left strong">{{ isMobile == true ? ( planning.startsAt | date: 'MMM d' ) : ( planning.startsAt | date: 'MMM d' ) }}</ion-text>
            <span class="space-left">to</span>
            <ion-text  class="space-left strong">{{ isMobile == true ? ( planning.endsAt | date: 'MMM d' ) : ( planning.endsAt | date: 'MMM d' ) }}</ion-text>
            <span class="space-left">|</span>
            <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'y' ) : ( planning.startsAt | date: 'y' ) }}</ion-text>
          </p>
        </div>
        <div>
          <ion-text>
            <p><ion-icon name="location" color="secondary"></ion-icon><ion-text class="space-left strong">{{ planning.location.address.state}}</ion-text></p>
            </ion-text>
        </div>
        <div>
          <p>{{ planning.location.address.full_address }}</p>
        </div>
      
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" no-padding>
        <ion-img role="button" (click)="onShowFullMap()" class="location-image" [src]="planning.location.staticMapImageUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>