<ion-header>
  <ion-toolbar>
    <ion-title >{{ isLoading ? 'Loading...' : planning.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/planning"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary"  
        [routerLink]="['/', 'main' , 'tabs' , 'planning' , 'edit' , planningId ]">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div text-center >        
    
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" padding text-center>
        <p>{{ planning.places['address'] }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-img role="button" (click)="onShowFullMap()" class="location-image" [src]="planning.places['staticMapImageUrl']"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>