<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Conventions</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>

        <div class="accordion">
          <ul>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Japan Weekend Madrid</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </li>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Japan Weekend Bcn</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </li>
          </ul>
        </div>
        
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img [src]="loadedCons[0].imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ loadedCons[0].name }}</h2>
            <p>{{ loadedCons[0].country }}</p>
          </ion-label>
          
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>