<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="m1"></ion-menu-button>
  </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="6">
      <ion-col size="12" text-center>

          <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>SpaceRonin</h2>
              <p>Mallorca</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label slot="start">
              <h2>Instagram</h2>
              <p>instagram.com/spaceronin</p>
            </ion-label>
            <ion-label slot="start">
              <h2>Twitter</h2>
              <p>Twitter.com/spaceronin</p>
            </ion-label>
          </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>