<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back to main" defaultHref="/main/tabs/cosplays/my-cosplays"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" 
      [routerLink]="['/', 'profile', 'edit-profile' ]">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-row>
    <ion-col text-center>
      <ion-avatar class="user-image">
        <img src="/assets/avatar.png">
      </ion-avatar>
      <ion-text color="dark">
        <h2 class="user-name">SpaceRonin</h2>
      </ion-text>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Instagram</ion-label>
          <ion-input color="primary" readonly="true">
            <a target="_blank" href={{instagram_url}}>{{instagram_name}}</a>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Twitter</ion-label>
          <ion-input color="primary" readonly="true">
            <a target="_blank" href={{twitter_url}}>{{twitter_name}}</a>
          </ion-input>
        </ion-item>
      </ion-list>

    </ion-col>
  </ion-row>
</ion-content>