<ion-item (click)="onGoToSee(cosplaygroup)"
button
detail
class="cosgroup_item">

  <ion-thumbnail slot="start" *ngIf="cosplaygroup.imageUrl != null">
    <ion-img [src]="cosplaygroup.imageUrl"></ion-img>
  </ion-thumbnail>
  <div class="thumbnail_icon" *ngIf="cosplaygroup.imageUrl == null">
    <ion-icon slot="start" name="image" size="large" ></ion-icon>
  </div>
  
  <ion-label>
    <div class="header">

      <ion-item class="inner_item_info ion-no-padding" lines="none">
        <div class="title truncate">
          <h1 slot="start">{{ cosplaygroup.title }}</h1>
          <p>
            <span class="place space-left space-right truncate">{{ cosplaygroup.series }}</span>
          </p>
        </div>
        <ion-button 
        *ngIf="dataService.editMode$ | async"
        slot="end" size="medium" color="danger" 
        (click)="onDeleteCosGroup(cosplaygroup.id);$event.stopPropagation();">
          <ion-icon  name="close" ></ion-icon>
        </ion-button>
      </ion-item>
      
    </div>
    <div class="cosplaygroup-details">
      <p class="location_info" 
        *ngIf="cosplaygroup.location != null && cosplaygroup.place != null">
        <ion-icon name="location" color="secondary"></ion-icon>
        <span class="place space-left space-right truncate">
          {{ cosplaygroup.location.address.state }}
        </span>
      </p>
      <div class="dates" *ngIf="cosplaygroup.dateFrom != null && cosplaygroup.dateFrom != ''">
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <ion-text  class="space-left">{{ isMobile == true ? (  cosplaygroup.dateFrom | date: 'MMM d' ) : (  cosplaygroup.dateFrom | date: 'MMM d' ) }}</ion-text> 
        <span class="space-left">to</span>
        <ion-text  class="space-left">{{ isMobile == true ? ( cosplaygroup.dateTo | date: 'd' ) : ( cosplaygroup.dateTo | date: 'd' ) }}</ion-text>
        <span class="space-left">|</span>
        <ion-text  class="space-left">{{ isMobile == true ? ( cosplaygroup.dateFrom | date: 'y' ) : ( cosplaygroup.dateFrom | date: 'y' ) }}</ion-text>
      </div>
    </div>
  </ion-label>
  
</ion-item>