ion-item {
    margin: 0;
    --padding-end: 0px;
    --inner-padding-end: 5px;
    // here other custom CSS from documentation 
}


h1 {
    font-size: 18px;
}

.cosgroup_series .title{
    font-size: 15px;
    color: rgb(146, 146, 146);
}

.cosgroup_item {

    .thumbnail_icon {
        width: 40px;
        height: 40px;
    
        ion-icon {
            color: rgb(136, 133, 133);
          }
    }

    .header{
        min-width:120px;
        border: 1px solid rgb(48, 82, 141);;
        padding: 0 8px 0 8px;
        margin: 4px;
        border-radius: 5px;
        color: lightgrey;

        ion-item {
            --padding-end: 0px;
            --inner-padding-end: 0px;
            // here other custom CSS from documentation  
        }

        .title h1{
            max-width:210px!important;
        }

        

        ion-button {
            margin-inline-start:4px;
        }

        
    }

    

    ion-icon {
        flex-shrink: 0;
    }

}

.truncate , ion-text , p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cosplaygroup-details {
    display: flex;
    align-items: center;

    .location_info {
        min-width:90px;
    }

    .place{
        color: rgba(201, 201, 201, 0.904);
    }

    .dates {
        min-width:115px;
        margin-left: auto; 
        margin-right: 0;
        text-align: right;
    }

    .space-left{
        margin-left: 5px;
    }
    
    .space-right{
        margin-right: 5px;
    }

    .days-long{
        margin-left: 10px;
    }

    ion-text {
        color: rgba(224, 91, 13, 0.904);
        
    }
}