<ion-header>
  <ion-toolbar>
    <ion-title>Email Verified</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
   
        <ion-row>
          
            <h2>Redirecting to HomePage </h2> 
            <ion-progress-bar type="indeterminate" ></ion-progress-bar>

        </ion-row>
        <ion-row>
          <!-- <ion-button type="submit" (click)="goToHomePage()" expand="block">
            Proceed to HomePage
          </ion-button> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>