<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isLoading">{{ isLoading ? 'Loading...' : planning.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/planning"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--
      <ion-button>
        <ion-icon #favIcon name="heart"></ion-icon>
      </ion-button>
      -->
      <ion-button color="primary" *ngIf="!isLoading" 
        (click)="onGoToEdit(planning.id)"
      >
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div text-center *ngIf="isLoading">        
    <ion-spinner color="primary" ></ion-spinner>
  </div>
  
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3" padding text-center>
      <div class="planning-details">
        <div 
        *ngIf="planning.startsAt != null"
        class="dates">
          <p>
            <ion-icon name="calendar" color="secondary"></ion-icon>
            <ion-text  class="space-left strong">{{ isMobile == true ? ( planning.startsAt | date: 'MMM d' ) : ( planning.startsAt | date: 'MMM d' ) }}</ion-text>
            <span class="space-left">to</span>
            <ion-text  class="space-left strong">{{ isMobile == true ? ( planning.endsAt | date: 'MMM d' ) : ( planning.endsAt | date: 'MMM d' ) }}</ion-text>
            <span class="space-left">|</span>
            <ion-text  class="space-left">{{ isMobile == true ? ( planning.startsAt | date: 'y' ) : ( planning.startsAt | date: 'y' ) }}</ion-text>
          </p>
        </div>
        <div *ngIf="planning.location != null">
          <div>
            <ion-text>
              <p><ion-icon name="location" color="secondary"></ion-icon><ion-text class="space-left strong">{{ planning.location.address.state}}</ion-text></p>
              </ion-text>
          </div>
          <div >
            <p>{{ planning.location.address.full_address }}</p>
          </div>
        </div>
        <div>
          <ion-thumbnail *ngIf="imageUrl != null" class="thumbnail" >
            <ion-progress-bar type="indeterminate" *ngIf="!imageReady"></ion-progress-bar>
            <img src="{{ imageUrl }}" *ngIf="imageReady">
          </ion-thumbnail>
          <ion-thumbnail class="thumbnail_icon" *ngIf="imageUrl == null" >
            <ion-icon class="ion-text-center" name="image" size="large"></ion-icon>
          </ion-thumbnail>
        </div>
        <div *ngIf="planning.description != null">
          <ion-text><p>{{ planning.description }}</p></ion-text>
        </div>

        <ion-row>
          <ion-col  no-padding>
            <ion-img role="button" (click)="onShowFullMap()" class="location-image" width="500" height="400" [src]="planning.location?.staticMapImageUrl"></ion-img>
          </ion-col>
        </ion-row>
      
      </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>