<ion-item 
  (click)="onGoToSee(cosplay.id)"
  routerDirection="forward"
  button
  detail
  class="cosplay_item"
>
  <ion-thumbnail *ngIf="imageUrl != null" slot="start">
    <ion-img [src]="imageUrl"></ion-img>
  </ion-thumbnail>
  <div class="thumbnail_icon" *ngIf="imageUrl == null">
    <ion-icon *ngIf="imageUrl == null" slot="start" name="image" size="large"></ion-icon>
  </div>

  <ion-label>
    <div class="header">
      <ion-item>
      <div class="header-info truncate">
        <h1>{{ cosplay.characterName }}</h1>
        <p>{{ cosplay.series }}</p>
      </div>
      <ion-button 
      *ngIf="dataService.editMode$ | async"
      slot="end" size="medium" color="danger" 
      (click)="onDeleteCosplay(cosplay.id);$event.stopPropagation();">
        <ion-icon  name="close" ></ion-icon>
      </ion-button>
    </ion-item>
    </div>  
  </ion-label>
</ion-item>