<ion-item 
  (click)="onGoToSee(cosplay)"
  routerDirection="forward"
  detail
  class="cosplay_item"
>
  <ion-thumbnail *ngIf="cosplay.imageUrl != null" slot="start">
    <ion-img [src]="cosplay.imageUrl"></ion-img>
  </ion-thumbnail>
  <div class="thumbnail_icon" *ngIf="cosplay.imageUrl == null">
    <ion-icon *ngIf="cosplay.imageUrl == null" slot="start" name="image" size="large"></ion-icon>
  </div>

  <ion-label>
    <div class="header">
      <ion-item>
      <div class="header-info truncate">
        <h2>{{ cosplay.characterName }}</h2>
        <p>{{ cosplay.series }}</p>
      </div>
      <ion-button slot="end" size="small" color="danger" (click)="onDeleteCosplay(cosplay.id);$event.stopPropagation();">
        <ion-icon  name="close" ></ion-icon>
      </ion-button>
    </ion-item>
    </div>  
  </ion-label>
</ion-item>