<ion-list>
  <ion-item class="new" *ngFor="let notif of notifications.slice().reverse() ; let i = index;" 
  (click)="onClick(notif.category,'c9d0WYQfry6e5Xfz5Q2G')"
  >
    <div class="notif-icons">
      <ion-icon *ngIf="notif.type== 'comment' 
      "name="chatbox-ellipses-outline" slot="start" >
      </ion-icon>
      <ion-icon *ngIf="notif.type== 'like'
      "name="heart-outline" slot="start">
      </ion-icon>
      <ion-icon *ngIf="notif.type== 'follow'
      "name="person-add-outline" slot="start">
      </ion-icon>
      <ion-icon *ngIf="notif.type== 'request'
      "name="reader-outline" slot="start">
      </ion-icon>
    </div>

    <ion-label>
      <h3><b>{{ notif.user_from }}</b> 
        </h3>
      <p *ngIf="notif.type== 'comment'"> {{ notif.text }} </p>
      <p *ngIf="notif.type== 'like'">Liked your comment</p>
      <p *ngIf="notif.type== 'follow'">Followed you</p>
      <p *ngIf="notif.type== 'request'">{{ notif.text }}</p>
    </ion-label>
  </ion-item>
  
</ion-list>