/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//  Leaflet map 
@import "~leaflet/dist/leaflet.css";


@media all {
    :root {
        --ion-color-softblue: #7a98c7;
        --ion-color-softblue-rgb: 122,152,199;
        --ion-color-softblue-contrast: #000000;
        --ion-color-softblue-contrast-rgb: 0,0,0;
        --ion-color-softblue-shade: #6b86af;
        --ion-color-softblue-tint: #87a2cd;
    }
    
    .ion-color-softblue {
        --ion-color-base: var(--ion-color-softblue);
        --ion-color-base-rgb: var(--ion-color-softblue-rgb);
        --ion-color-contrast: var(--ion-color-softblue-contrast);
        --ion-color-contrast-rgb: var(--ion-color-softblue-contrast-rgb);
        --ion-color-shade: var(--ion-color-softblue-shade);
        --ion-color-tint: var(--ion-color-softblue-tint);
    }

    .ion-invalid.ion-touched ion-label {
        color: var(--ion-color-danger);
    }
    
    //General styles
    ion-content.padding10 {
        --padding-bottom: 20px;
        --padding-end: 10px;
        --padding-start: 10px;
        --padding-top: 20px;
      }

    //Modal styles
    ion-modal.custom-modal {
        --height: auto;

        //opacity and blur effect for modal backdrop
        --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
        backdrop-filter: blur(6px);

        .close-button {
            font-size: 20px;
        }

        .inner-content .main {
            padding: 10px;

            .form-item {
                padding-bottom: 5px;
            }

            .right-space {
                padding-right: 5px;
            }
            .left-space {
                padding-left: 5px;
            }
        }

        .ion-page {
            position: relative;
            contain: content;
            max-height: 90vh;
            .inner-content {
                overflow: auto;
            }
        }
   

    }

    ion-item.notclickable {
        pointer-events: none !important;
    }

    //Common
    .error, .red {
        color: rgb(212, 22, 9);
    }

    .succesful, .green {
        color: rgb(14, 133, 14);
    }

    .important {
        --background: rgb(53, 58, 71)!important;
    }

    .action-buttons {
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        ion-button {
            flex: 1;
            height: 40px;
        }
    }
    
    .accordion {
        ul {
            padding:0;
    
            li {
                position: relative;
                overflow: hidden;
                padding: 0;
                margin: 0;
                background-color: #2b2a2a;
                color: rgb(192, 189, 189);
                + {
                    li {
                        margin-top: 15px;
                    }   
                }
                i {
                position: absolute;
                transform: translate(-6px,0);
                margin-top: 28px;
                right:15px;
                    &:before {
                        content: "";
                        position: absolute;
                        transition: all 0.3s;
                        background-color: rgb(35, 100, 131);
                        width: 3px;
                        height: 9px;
                        transform: translate(-2px,0) rotate(45deg);
                    }
                    &:after {
                        transform: translate(2px,0) rotate(-45deg);
                        transition: all 0.3s;
                        content: "";
                        position: absolute;
                        background-color: rgb(35, 100, 131);
                        width: 3px;
                        height: 9px;
                    }
            }
                input[type="checkbox"] {
                    position: absolute;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    touch-action: manipulation;
                
                    &:checked {
                        ~ {
                            h2 {
                                color: rgb(192, 189, 189);
                            }
                            p {
                                max-height: 0;
                                transition:   0.3s;
                                opacity: 0;
                            }
                            i {
             
                                &:before {
                                    transform: translate(2px,0) rotate(45deg);
                                }
                                &:after {
                                    transform: translate(-2px,0) rotate(-45deg);
                                }
                            }
                        }
                    }
                }
                
                .no-select {
                    user-select: none;
                }
                h2 {
                    color:rgb(129, 185, 238);
                    font-size: 20px;
                    line-height: 34px;
                    text-align: left;
                    padding: 15px 15px 0;
                    text-transform: none;
                    font-weight: 300;
                    letter-spacing: 1px;
                    display: block;
                    margin: 0;
                    cursor: pointer;
                    transition: 0.2s;
                }
                p {
                    color: rgb(170, 168, 168);
                    text-align: left;
                    font-size: 14px;
                    line-height: 1.45;
                    position: relative;
                    overflow: hidden;
                    max-height: 250px;
                    will-change: max-height;
                    contain: layout;
                    display: inline-block;
                    opacity: 1;
                    transform: translate(0,0);
                    margin-top: 5px;
                    margin-bottom: 15px;
                    padding: 0 50px 0 15px;
                    transition: 0.3s;
                }
        }
        }
    }

    //Maps
    ion-img.location-image{
        width:100%;
        height: auto;
        max-width: 100%;
        aspect-ratio: attr(width) / attr(height);
    }

    img.ng-lazyloaded {
        animation: fadein 2.5s;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .image {
        transition: background-image 0.4s ease-out;
    }
    
}

//non-mobile
@media only screen and (min-width: 767px) {
    .custom-modal .modal-wrapper.sc-ion-modal-md {
        max-width: 700px;
        //max-height: 300px;
    }
}