<ion-header>
  <ion-toolbar>
    <ion-title>Edit profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/tabs/cosplays/my-cosplays"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="page" >
  <div text-center *ngIf="isLoading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ion-row>
    <ion-col size-md="3" size-sm="4" size-xs="12">
      <ion-list>  
        <ion-item button>General</ion-item>
        <ion-item button>Avatar</ion-item>
        <ion-item button>Fondo del perfil</ion-item>
        <ion-item button>Miniperfil</ion-item>
        <ion-item button>Tema</ion-item>
        <ion-item button>Insignias</ion-item>
        <ion-item button>Grupos</ion-item>
        <ion-item button>Expositor</ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item button>Configuracion de privacidad</ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="main-content" size-md="9" size-sm="8" size-xs="12">
        
      <ion-title class="title">GENERAL</ion-title>
      <div class="description">
        <p>En este apartado se tratan los ajustes más básicos.</p>
      </div>

      <ion-list>

        <ion-item-group>
          <ion-item-divider >
            <ion-label>
              GENERAL
            </ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-label position="stacked">Nombre de Perfil</ion-label>
          <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre Real (?)</ion-label>
            <ion-input></ion-input>
            <ion-note slot="helper">El nombre por el que tus amigos te encontrarán</ion-note>
            
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">URL Personalizado</ion-label>
            <ion-note slot="helper">Tu perfil estará disponible en '..'</ion-note>
            <ion-input></ion-input>
          </ion-item>
        </ion-item-group>

      </ion-list>

    </ion-col>
</ion-row>
</div>
     
 
  <!--
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">User Name ( to show )</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
-->
</ion-content>
