<ion-menu side="start" menuId="m1" contentId="principal">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Cosplay Planning
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngFor="let pages of navigate" lines="none">
      <ion-menu-toggle menu="m1">
      <ion-item [routerLink]="pages.url">
        <ion-icon [name]="pages.icon" slot="start"></ion-icon>
        <ion-label>{{pages.title}} </ion-label>
      </ion-item >
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>