<ion-header>
  <ion-toolbar>
    <ion-title>Tarea</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="close-button" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="inner-content">
  <div class="main">
    <form [formGroup]="form">
      
      <ion-item class="form-item" lines="full">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" formControlName="name" placeholder="..." autofocus="true" required></ion-input>
      </ion-item>
      <ion-row class="form-item">
        <ion-col class="ion-no-padding ">
          <ion-item lines="full">
            <ion-label>¿Alarma?</ion-label>
            <ion-checkbox formControlName="alarm"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding left-space">
          <ion-item lines="full">
            <ion-label disabled position="stacked">Fecha / Hora</ion-label>
            <ion-datetime formControlName="date" first-day-of-week="1"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="form-item">
        <ion-col class="ion-no-padding ">
          <ion-item lines="full">
            <ion-label>¿Hecho?</ion-label>
            <ion-checkbox formControlName="done"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <app-image-picker></app-image-picker>
       
      <ion-item class="form-item" lines="full">
        <ion-label position="stacked">Notas</ion-label>
        <ion-textarea placeholder="Extra info.." autoGrow="false"></ion-textarea>
      </ion-item>

      <ion-input type="hidden" formControlName="taskID"></ion-input>
      
    </form>

    
  </div>
  

  <div class="action-buttons">
    <ion-button color="softblue">
      Delete
    </ion-button>
    <ion-button color="softblue">
      Edit
    </ion-button>
    <ion-button color="softblue" (click)="onSubmitTask()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
  </div>

</div>
  
