<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!isLoading"
      [defaultHref]="'main/tabs/cosplays/my-cosplays/details/'+cosplay.id"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Cosplay</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateCosplay()" [disabled]="!form?.valid ">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="isLoading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
  <ion-grid>
  <ion-row>
  <ion-col size-sm="12" size-md="12" size-lg="8" offset-lg="2" size-xl="8" offset-xl="2">

    <ion-row>
      <ion-col >
        <app-image-picker
        [selectedImage]="imgSrc"
        [showPreview]="form.get('imageUrl').value"
        [roundCropper]="false"
        [aspectRatio]="1 / 1"
        (imagePick)="onImagePicked($event)">
        </app-image-picker>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="floating">Character Name</ion-label>
          <ion-input type="text" formControlName="characterName"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.characterName">
            <div class="error-message" *ngIf="form.get('characterName').hasError(validation.type) && (form.get('characterName').dirty || form.get('characterName').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="floating">Series</ion-label>
          <ion-input type="text" formControlName="series"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.series">
            <div class="error-message" *ngIf="form.get('series').hasError(validation.type) && (form.get('series').dirty || form.get('series').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="floating">Description</ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.description">
            <div class="error-message" *ngIf="form.get('description').hasError(validation.type) && (form.get('description').dirty ||form.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

  </ion-col>
  </ion-row>
  </ion-grid>
  </form>
</ion-content>
