<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="m1"></ion-menu-button>
  </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item button="true">
    <ion-icon slot="start" name="image-outline"></ion-icon>
    <ion-label>Theme</ion-label>
  </ion-item>
  <ion-item button="true">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    <ion-label >Save files path</ion-label>
  </ion-item>
</ion-list>
</ion-content>
